<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Keskustelusovellus - {% block title %}{% endblock %}</title>
</head>

<body>

{% if error is defined %}
<p>{{error.message }}</p>

{% endif %}
{% block content %}{% endblock %}

{% if session.username %}
<hr>
<div class="row">
    <div class ="column">
    Olet kirjautunut nimellä {{ session.username }}
    </div>

    <div class ="column">
        <form action="/logout" method="GET">
            <input type="submit" value="Kirjaudu ulos">
        </form>
    </div>

    <div class ="column">
        <form action="/main" method="GET">
            <input type="submit" value="Takaisin etusivulle">
        </form>
    </div>
</div>
{% endif %}
</body>