<!doctype html>
<title>Keskustelusovellus - {% block title %}{% endblock %}</title>
<body>

{% if error is defined %}
<p>{{error.message }}</p>

{% endif %}
{% block content %}{% endblock %}

{% if session.username %}
    <hr>
    <p>Olet kirjautunut nimellä {{ session.username }}</p>

    <form action="/logout" method="GET">
        <input type="submit" value="Kirjaudu ulos">
    </form>

    <form action="/main" method="GET">
        <input type="submit" value="Takaisin etusivulle">
    </form>
{% endif %}
</body>