{% extends "layout.html" %}
{% block title %} Pääsivu {% endblock %}

{% block content %}
<h1>Keskustelusovellus 2000</h1>
<br>
<h2>Keskustelualueet</h2>
{% for topic in topics %}
    <div class="row">
    <div class="column">
    <b><a href="/topic/{{topic.id}}">{{ topic.name }} Messages: {{ topic.message_count }} Last activity: {{ topic.latest.strftime("%Y-%m-%d %H:%M:%S") }}</a></b>
    <br>
    </div>
    {% if is_admin %}
        <div class="column">
        <form action="/topic/{{ topic.id }}/delete" onsubmit="return confirm('Are you sure you want to delete the topic?');" method="post">
            <input type="submit" value="Poista keskustelualue">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <form action="/topic/{{ topic.id }}/edit" method="get">
            <input type="submit" value="Muokkaa keskustelualuetta">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        </div>
    {% endif %}
</div>
{% endfor %}
<br>

<div class="row">
    <div class="column">
        Keskustelu hukassa? <a href="/search">Etsi viesteistä</a>
    </div>
    <div class="column">
        {% if is_admin %}
            <a href="/topic/newtopic">Luo uusi keskustelualue</a>
        {% endif %}
    </div>
</div>

{% endblock %}